@import '../../assets/scss/common.scss';
@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rightToLeft {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes topToBottom_text {
  0% {
    top: -5%;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes topToBottom_line {
  0% {
    height: 0px;
    opacity: 1;
  }
  100% {
    height: 464px;
    opacity: 1;
  }
}

@keyframes bottomToTop_line {
  0% {
    height: 0px;
    opacity: 1;
  }
  100% {
    height: 464px;
    opacity: 1;
  }
}

@keyframes topToBottom_img {
  0% {
    top: 70px;
    opacity: 0.3;
  }
  100% {
    top: 120px;
    opacity: 1;
  }
}
@keyframes leftToright_img {
  0% {
    left: 116px;
    opacity: 0.3;
  }

  100% {
    left: 180px;
    opacity: 1;
  }
}
@keyframes bottomToTop_img {
  0% {
    bottom: 0px;
    opacity: 0.3;
  }
  100% {
    bottom: 58px;
    opacity: 1;
  }
}

@keyframes leftToRight_text {
  0% {
    right: 15px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}

.main_wrap {
  overflow-x: hidden;
}

//상단 visual 영역
.visual_wrap {
  width: 100%;
  height: 744px;
  position: relative;

  .visual_wrap_inner {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 60px;

    .visual_wrap_inner_img_box {
      flex: 7;
      height: 100%;
      display: flex;
      gap: 20px;
      position: relative;
      opacity: 1;

      &.new-image {
        animation: fadeIn 1.5s ease-in-out;
      }
    }
    .visual_wrap_inner_img_box_img {
      width: 100%;
      height: 100%;
    }
    .visual_wrap_inner_text_box {
      flex: 3;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: $basic-color;
        animation: rightToLeft 1.5s ease-in-out;
      }

      .animationTitle {
        position: relative;
        animation: topToBottom_text 1.5s ease-in-out;
      }
    }
  }
  .visual_wrap_btn_box {
    max-width: 1200px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .visual_wrap_btn_box_btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);

    button {
      width: 100%;
      height: 100%;
      background: url('../../assets/images/icon/visualArrow.svg') no-repeat center center / 30px;
    }
    &.left {
      button {
        transform: rotate(180deg);
      }
    }
  }
}

//CatImg 영역
.cat_img_wrap {
  width: 100%;
  height: 1100px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 3px;
    height: 464px;
    background-color: $basic-color;
  }

  &::before {
    content: '';
    position: absolute;
    right: 0px;
    top: 200px;
    width: 3px;
    height: 464px;
    background-color: $basic-color;
  }

  &.scroll {
    &::after {
      animation: bottomToTop_line 1.5s ease-in-out;
    }
    &::before {
      animation: topToBottom_line 1.5s ease-in-out;
    }
    .cat_img_wrap_inner_img_box {
      &.box_img01 {
        animation: topToBottom_img 1.8s ease-in-out;
      }
      &.box_img02 {
        animation: leftToright_img 1.8s ease-in-out;
        animation-delay: 0.3s;
      }
      &.box_img03 {
        animation: bottomToTop_img 1.8s ease-in-out;
        animation-delay: 0.5s;
      }
    }
    .cat_img_wrap_inner_text_box {
      .text_02 {
        animation: leftToRight_text 1.5s ease-in-out;
        animation-delay: 0.5s;
      }
    }
  }
}
.cat_img_wrap_inner {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .cat_img_wrap_inner_img_box {
    &.box_img01 {
      width: 240px;
      height: 326px;
      position: absolute;
      top: 120px;
      right: 252px;
    }
    &.box_img02 {
      width: 293px;
      height: 404px;
      position: absolute;
      top: 247px;
      left: 180px;
    }
    &.box_img03 {
      width: 385px;
      height: 507px;
      position: absolute;
      bottom: 58px;
      right: 156px;
    }
    .cat_img_img01 {
      position: relative;
      width: 100%;
      height: 100%;
      &::after {
        content: '';
        position: absolute;
        width: 145px;
        height: 145px;
        left: -70px;
        top: -70px;
        border-radius: 50%;
        background-color: $point-color;
        z-index: -1;
      }
    }
    .cat_img_img02 {
      position: relative;
      width: 100%;
      height: 100%;
      &::after {
        content: '';
        position: absolute;
        width: 53px;
        height: 53px;
        left: -102px;
        top: 125px;
        border-radius: 50%;
        background-color: $point-color;
        z-index: -1;
      }
    }
    .cat_img_img03 {
      position: relative;
      width: 100%;
      height: 100%;
      &::after {
        content: '';
        position: absolute;
        width: 145px;
        height: 145px;
        right: -60px;
        top: 100px;
        border-radius: 50%;
        background-color: $point-color;
        z-index: -1;
      }
      &::before {
        content: '';
        position: absolute;
        width: 57px;
        height: 57px;
        right: -88px;
        top: 32px;
        border-radius: 50%;
        background-color: $point-color;
        z-index: -1;
      }
    }
  }
  .cat_img_wrap_inner_text_box {
    position: absolute;
    width: 100%;
    height: 363px;
    left: 0px;
    bottom: 0px;

    .text_01 {
      position: absolute;
      left: 58px;
      top: 0px;
    }

    .text_02 {
      position: absolute;
      right: 0px;
      top: 180px;
    }

    .text_03 {
      position: absolute;
      left: 58px;
      bottom: 58px;
      width: 335px;
      height: 104px;
    }
  }
}
