.header_wrap {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 15px;
    background-color: #000;
  }
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background-color: #000;
  }

  .header_inner {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    padding: 30px 30px 15px;
    box-sizing: border-box;
  }

  .logo {
    width: 114px;
    height: 90px;
  }

  .header_menu {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    width: 100%;
    margin: 0 auto;
  }
  .header_menu_list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .header_menu_my {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 50%;
  }
}
