.tabs_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 20px;
  &.goods {
    img {
      width: 100%;
    }

    button {
      height: 100%;
      position: relative;
      padding: 20px;
      box-sizing: border-box;
      &:hover::after {
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: url('../../assets/images/icon/goodsAdd.svg') rgba(0, 0, 0, 0.6) center center
          no-repeat;
      }
    }
    .tab_list {
      width: calc((100% - 24px * 3) / 4);
    }
  }
  .tab_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .basic_sub_title {
      display: -webkit-box;
      -webkit-line-clamp: 2; // 최대 2줄
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .img_box {
      height: 200px;
    }
    .flex_column {
      margin-top: 20px;
    }
  }
}
.cart_wrap {
  .tab_list {
    padding: 20px;
    box-sizing: border-box;
  }
  .img_box {
    width: 100px;
    height: 100px !important;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  li:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
}
